body{
    color: #d2b48c;
    background-color: #f2ebe2;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    display:flex;
    justify-content: end;
    list-style-type: none;
    padding: 15px;
}
a{
    color: #815f3c;
    text-decoration: none;
}
header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #815f3c;
}
.center{
    text-align: left;
}
h1{
    color: #d2b48c;
}
.container{
    padding: 0px 50px;
}
nav a:hover{
    align-content: end;
    color: #d2b48c;
}
.aaa:hover{
    color: #d2b48c;
}
p{
    color: #815f3c;
}
h2{
    color: #815f3c;
}
img{
    width: 450px;
    height: 350px;
    border: 5px solid #815f3c;
}
footer{
    display: flex;
    justify-content: center;
}
footer img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #815f3c;
}
footer p{
    margin-top: 2px;
}